<div class="container">
<div class="row">
  <div class="col-md-7">
    <h2>Our Vision</h2>
    <hr>
    <p style="background:#ededed; padding: 15px; min-height: 85px; border-top:2px solid #085eff; ">
        To be the most trusted, recognized and respected solution provider in the automobile industry in Sri Lanka</p>
    <h2>Our Mission</h2> 
    <hr>
    <p style="background:#ededed; padding: 15px; min-height: 80px; border-top:2px solid #085eff; "> 
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus earum nobis optio labore! Officia error labore aliquid excepturi minus! Voluptatem quasp</p>
    <br><br>
    <h2>Our Values</h2>
    <hr> 
    <ul class="sde wow fadeInUp animated" style="visibility: visible;">	
        <li>We act with integrity and we are honest about our work in order to be fair &amp; ethical.</li>						
        <li>We develop a long term relationship with our stakeholders by practising fair principles.</li>
        <li>We will maintain highest standards in professional diagnosis service &amp; repair using state of the art equipment &amp; quality auto parts for our customers.</li>
    </ul>
    <br>
   

       
  </div>
  <div class="col-md-5">
    <img src="../../assets/image/image4.jpeg" alt="" style="height:400px;width:600px;margin-top:60px">
  </div>
</div>
</div>